.hero{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)), url('../../../assets/images/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text{
    color: #fff;
    text-align: center;
    max-width: 800px;
}
.btn{   
    background-color: #fff;
    border-radius: 30px;
    outline: 0;
    padding: 10px 25px;
    border-style: none;
    font-size: 16px;
    cursor: pointer;
    border: 0;
     
}

.hero-text h1{
    font-size: 50px;
    font-weight: 600;
}

.hero-text p{
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
}
.arrow{
    width: 20px;
    margin-left: 10px;
}